<div class="modal fade" id="fluid-variable" tabindex="-1" role="dialog" style="z-index: 2000">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">변수편집 - 가변변수</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modal-fluid-fromid" />
                <div class="form-group row">
                    <div class="col-3">
                        <label class="input-label">위치</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" id="modal-fluid-type">
                            <option value="local-0" remote-id="0">로컬</option>
                            {% for remote in remotes %}
                                <option value="remote-{{loop.index - 1}}" remote-id="{{remote.remote_id}}">{{remote.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label class="input-label">타입</label>
                    </div>
                    <div class="col-9">
                        <select class="form-control" id="modal-fluid-subtype">
                            <option value="digital">디지털(DG)</option>
                            <option value="analog">아날로그(AN)</option>
                            <option value="string">문자열(ST)</option>
                            <option value="date">날짜(DT)</option>
                            <option value="time">시간(TM)</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-3">
                        <label class="input-label" for="modal-fluid-variable">인덱스변수</label>
                    </div>
                    <div class="col-9">
                        <div class="input-group">
                            <input class="form-control" id="modal-fluid-variable" value="" readonly />
                            <span class="input-group-append">
                                <button class="btn btn-primary" onclick="showFixed('modal-fluid-variable', 'analog', false);">선택</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">취소</span>
                </button>
                <button class="btn btn-primary btn-icon-split" onclick="selectFluid();">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">확인</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="fixed-variable" tabindex="-1" role="dialog" style="z-index: 2000">
    <div class="modal-dialog" role="document" style="max-width: 700px !important;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">변수편집 - 고정변수</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="hidden" id="modal-fixed-fromid" value="" />
                <div class="table-responsive">
                    <input type="hidden" id="modal-from-fluid" value="0"/>
                    <div class="form-group row">
                        <div class="col-4">
                            <select class="form-control" id="modal-variable-type" onchange="updateVariable(variableInst);">
                                <option value="local-0" remote-id="0">로컬</option>
                                {% for remote in remotes %}
                                    <option value="remote-{{loop.index - 1}}" remote-id="{{remote.remote_id}}">{{remote.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="modal-variable-subtype" onchange="updateVariable(variableInst);">
                                <option value="digital">디지털(DG)</option>
                                <option value="analog">아날로그(AN)</option>
                                <option value="string">문자열(ST)</option>
                                <option value="date">날짜(DT)</option>
                                <option value="time">시간(TM)</option>
                            </select>
                        </div>
                    </div>
                    <table class="table table-bordered datatable-tbl no-context" id="modal-variable-tbl">
                        <thead>
                            <tr>
                                <th style="width: 10%">선택</th>
                                <th style="width: 40%">변수이름</th>
                                <th style="width: 30%">단위</th>
                                <th style="width: 20%">변수주소</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary btn-icon-split" data-dismiss="modal">
                    <span class="icon text-white-50">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text">취소</span>
                </button>
                <button class="btn btn-primary btn-icon-split" onclick="selectFixed();">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">확인</span>
                </button>
            </div>
        </div>
    </div>
</div>

{% include 'common/variable_js.html' %}
<script>
    const variableTbl = $("#modal-variable-tbl");
    const varSelect = $("#modal-variable-type");
    const modalSubType = $("#modal-variable-subtype");
    let variableInst, chkArr = [];

    function showFluid(selid, subtype = '') {
        $("#modal-fluid-variable").val('').removeAttr('origin').removeAttr('selid').removeAttr('seltype').removeAttr('sellocstr');
        $("#modal-fluid-fromid").val(selid);
        const subType = $("#modal-fluid-subtype");
        if(subtype.length > 0) {
            subType.val(subtype).attr('disabled', true);
        } else {
            subType.val('digital').removeAttr('disabled');
        }
        $("#fluid-variable").modal('show');
    }

    function showFixed(selid, type="", disabled=true) {
        chkArr = [];
        $("#modal-fixed-fromid").val(selid);
        if(type.length > 0) {
            modalSubType.val(type).attr('disabled', true);
        } else {
            const curID = $("#" + selid).attr('selid');
            const curType = $("#" + selid).attr('seltype');
            if(curID && curID.length > 0) {
                //modalSubType.val(curID.split('-')[0]).attr('disabled', true);
                chkArr.push($("#" + selid).attr('seltypeid')+";"+curID+";"+curType);
            } else {
                modalSubType.val('digital').attr('disabled', false);
            }
            if(curID) {
                let typeTemp = curID.split('-')[0]
                varSelect.val(curType)
                modalSubType.val(typeTemp)
            }
        }
        

        const modalFluid = $("#modal-from-fluid");
        if(disabled) {
            modalFluid.val(0);
        } else {
            modalFluid.val(1);
        }

        updateVariable(variableInst);
        $("#fixed-variable").modal('show');
    }

    function selectFixed() {
        const selInput = $("#modal-variable-tbl tbody input.check-row").filter(':checked');
        if(selInput.length === 1 ||
            (selInput.length > 1 && $("#data-collect-table").length > 0)) {
            let inputNames = [], selIDs = [], selLocs = [];
            let selrow = [];
            for(let ii = 0; ii < selInput.length; ii++) {
                const selTr = $(selInput[ii]).closest('tr');
                selrow.push(selTr.attr('data-row'))
                const selTextInput = $(selTr).find('input[type="text"]').val().trim();
                const selLocStr = $(selTr).find('td:last-child').text().trim();
                selLocs.push(selLocStr);
                selIDs.push($(selInput[ii]).attr('id').replace('check-row-', ''));
                inputNames.push(selTextInput + "(" + selLocStr + ")");
            }

            const isFluid = $("#modal-from-fluid").val();

            let selInputID = "";
            
            if(isFluid === "1") {
                selInputID = "#modal-fluid-variable";
            } else {
                selInputID = "#" + $("#modal-fixed-fromid").val().trim();
            }

            if(selInputID.length > 0) {
                $(selInputID).val(inputNames.join(','));
                $(selInputID).attr("selid", selIDs.join(','));
                $(selInputID).attr("origin", inputNames.join(','));
                $(selInputID).attr("sellocstr", selLocs.join(','));
                $(selInputID).attr("seltype", varSelect.val());
                $(selInputID).attr("seltypeid", varSelect.find(':selected').attr('remote-id'));
                $(selInputID).attr("selrow", selrow.join(","));
                $(selInputID).trigger("change");
            }

            $("#fixed-variable").modal('hide');
        } else {
            alert('변수를 한개 선택하세요');
        }
    }

    function getFilterkey(type="") {
        const matchArr = {
            'digital': 'DG',
            'analog': 'AN',
            'string': 'ST',
            'date': 'DT',
            'time': 'TM'
        };

        return type.length === 0 ? "" : matchArr[type];
    }

    function selectFluid() {
        const currentID = "#" + $("#modal-fluid-fromid").val().trim();
        let selType = $("#modal-fluid-type").val().trim().split('-')[1];
        const selSubtype = getFilterkey($("#modal-fluid-subtype").val());
        selType = selType === '0' ? "LOCAL." + selSubtype + ".(" : "REMOTE." + selType + "." + selSubtype + ".(";

        const fluidVariable = $("#modal-fluid-variable");
        const selLocStr = fluidVariable.attr("sellocstr");

        $(currentID).val("가변변수(" + selType + selLocStr + "))");
        $(currentID).attr("selid", fluidVariable.attr("selid"));
        $(currentID).attr("seltype", fluidVariable.attr("seltype"));
        $(currentID).attr("sellocstr", fluidVariable.attr("sellocstr"));
        $(currentID).trigger('change');

        $("#fluid-variable").modal('hide');
    }

    $(document).ready(function () {
        variableInst = variableTbl.DataTable({
            ...dataTableLang,
            ...dataTableObj,
            "infoCallback": infoCallback,
            "columnDefs": columnDef,
            "order": [[ 1, "asc" ]],
            'ajax': {
                'url': "{{url_for('logic_setting.variable_list')}}",
                'headers': { "X-CSRFToken": csrf_token },
                'data': function(data){
                    // let curPage = localStorage.getItem('cur-page');
                    // curPage = curPage ? curPage : 0;
                    data = {
                        ...data,
                        // start: curPage * parseInt(data.length),
                        variable: varSelect.val(),
                        variable_type: modalSubType.val(),
                        variable_id: varSelect.find(':selected').attr('remote-id')
                    }

                    return data;
                }
            },
            "columns": [
                {
                    render: function (data, type, row) {
                        const selType = modalSubType.val();
                        let idTemp = row.id;
                        if(row.remote_id != '0')
                            idTemp = row.addr_id;
                        return '<div class="form-check"><input type="checkbox" class="form-check-input check-row" id="check-row-' + selType + '-' + idTemp + '"><label class="form-check-label" for="check-row-' + selType + '-' + row.id + '"></label></div>';
                    }
                },
                {
                    render: function (data, type, row) {
                        return '<input type="text" class="form-control" value="' + row.name + '" origin="' + row.name + '" data-ind="' + row.id + '" />';
                    }
                },
                {
                    render: function (data, type, row) {
                        const selType = modalSubType.val();
                        if(selType === "analog") {
                            return "<input type='text' class='form-control analog-unit' value='" + row.unit + "' origin='" + row.unit + "' />";
                        } else {
                            return "";
                        }
                    }
                },
                { "data": "address" }
            ],
            "createdRow": function(row, data) {
                if(data.remote_id != '0')
                    $(row).attr('data-row', modalSubType.val() + "-" + data.addr_id);
                else
                    $(row).attr('data-row', modalSubType.val() + "-" + data.id);
                $(row).find('td:first').addClass('text-center');
            },
            "drawCallback": function(oSettings) {
                const pageInfo = variableInst.page.info();
                if(parseInt(pageInfo.length) * pageInfo.page > pageInfo.recordsTotal) {
                    variableInst.page(0);
                    updateVariable();
                } else {
                    setDataTblPage(variableTbl, oSettings._iDisplayLength);

                    const trArr = $("#modal-variable-tbl tbody tr");
                    const prefixStr = varSelect.find(':selected').attr('remote-id') + ';';
                    const suffixStr = ';' + varSelect.val();
                    for (let ii = 0; ii < trArr.length; ii++) {
                        const trItem = $(trArr[ii]);

                        if(trItem.find("input[type='checkbox']").attr('id')) {
                            const trID = prefixStr + trItem.find("input[type='checkbox']").attr('id').replace('check-row-', '') + suffixStr;

                            trItem.find("input[type='checkbox']").prop('checked', chkArr.indexOf(trID) >= 0);
                        }
                    }
                }
            }
        });

        variableInst.on('click', 'tbody tr', function() {
            const trArr = $("#modal-variable-tbl tbody tr");
            const prefixStr = varSelect.find(':selected').attr('remote-id') + ';';
            const suffixStr = ';' + varSelect.val();
            for(let ii = 0; ii < trArr.length; ii++) {
                const selChk = $(trArr[ii]).find("input[type='checkbox']");
                const selID = prefixStr + selChk.attr('id').replace('check-row-', '') + suffixStr;
                const selInd = chkArr.indexOf(selID);
                const selChk1 = selChk.prop('checked');

                if(selInd >= 0 && !selChk1) {
                    chkArr.splice(selInd, 1);
                } else if(selInd < 0 && selChk1) {
                    chkArr.push(selID);
                }
            }
        });
    });
</script>