{% extends "user/user-layout.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg" style="margin-top: 20%;">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">PLC DASHBOARD</h1>
                                </div>

                                <button class="btn btn-primary" style="display: none;" type="button" onclick="modalShow();">Launch Demo Modal</button>

                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">사용권계약</h5>
                                                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div>
                                            <div class="modal-body">
                                                사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 사용권계약 
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary" id="agree-btn" type="button" data-dismiss="modal">동의</button>
                                                <button class="btn btn-secondary" type="button" data-dismiss="modal">동의안함</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% include 'common/flash.html' %}

                                <form class="user" action="{{url_for('userbp.dologin')}}" method="post">
                                    <input type="hidden" name="csrf_token" value="{{csrf_token()}}"/>
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-user" id="userid" name="userid" aria-describedby="emailHelp" placeholder="아이디">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="passwd" name="passwd" placeholder="비밀번호">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <button class="btn btn-primary btn-user btn-block login-btn">로그인</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function modalShow() {
            $('#exampleModal').modal("show")
        }
        
        if("{{session['accept']}}" == "0" || "{{session['accept']}}" == "None") {
            modalShow()
        } else if("{{session['is_login']}}" && "{{session['accept']}}" == 1) {
            window.location.href = '/'
        }
        
        $('#agree-btn').on('click', function () {
            $.ajax({
                url: "{{url_for('userbp.updateaccept')}}",
                type: 'POST',
                dataType: 'json',
                headers: { "X-CSRFToken": "{{csrf_token()}}" },
                data: {id: "{{session['user_id']}}"},
                success: function(resp) {
                    if("{{session['setting']}}" == 0) {
                        window.location.href = '/user/setting'
                    } else {
                        window.location.href = '/'
                    }
                }
            });
        });
    </script>
{% endblock %}