{% extends "layout.html" %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">설정내보내기</h6>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable" id="setting-output">
                            <thead>
                                <tr>
                                    <th>항목</th>
                                    <th>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-all">
                                                <label class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for setting in setting_list %}
                                    <tr>
                                        <td>{{setting.name}}</td>
                                        <td>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-row" id="setting-{{setting.code}}">
                                                <label class="form-check-label" for="setting-{{setting.code}}"></label>
                                            </div>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
            <button class="btn btn-primary btn-icon-split" onclick="saveSettingList()">
                <span class="icon text-white-50">
                    <i class="fas fa-file-export"></i>
                </span>
                <span class="text">다운로드</span>
            </button>
            
            <button class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-times"></i>
                </span>
                <span class="text">CLOSE</span>
            </button>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function saveSettingList() {
            let postData = {};
            const inputChk = $("#setting-output tbody input[type='checkbox']");
            for(let ii = 0; ii < inputChk.length; ii++) {
                const chkItem = $(inputChk[ii]);
                postData[chkItem.attr('id')] = chkItem.prop('checked') ? '1' : '0';
            }
            sendAjax("{{url_for('userbp.setting_export')}}", postData, false);
            //alert(saveMsg);
        }
    </script>
{% endblock %}