{% extends "layout.html" %}

{% block content %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">설정불러오기</h6>
        </div>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-1">
                    <label class="input-label">파일경로</label>
                </div>
                <div class="col-3 input-group-append">
                    <input type="text" class="form-control" placeholder="내용을 입력해주세요">
                    <button class="btn btn-secondary btn-icon-split btn-interval-folder">
                        <span class="icon text-white-50">
                            <i class="fas fa-folder"></i>
                        </span>
                    </button>
                </div>
                <div class="col-1 col-md-3 col-sm-4">
                    <button class="btn btn-secondary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-upload"></i>
                        </span>
                        <span class="text">업로드</span>
                    </button>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-1">
                    <label class="input-label">선택</label>
                </div>
                <div class="col-3">
                    <div class="table-responsive">
                        <table class="table table-bordered dataTable">
                            <thead>
                                <tr>
                                    <th>항목</th>
                                    <th>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-all">
                                                <label class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>변수</td>
                                    <td>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-row">
                                                <label class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>조건</td>
                                    <td>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-row">
                                                <label class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>조건그룹</td>
                                    <td>
                                        <div class="form-check">
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input check-row">
                                                <label class="form-check-label"></label>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-check"></i>
                </span>
                <span class="text">설정적용</span>
            </button>
            <button class="btn btn-secondary btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-times"></i>
                </span>
                <span class="text">CLOSE</span>
            </button>
        </div>
    </div>
{% endblock %}